body {
    background: url(../assets/black-g249885c91_1920.jpg);
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-display: swap;

}


.postit {
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px;
}

.postit div {
    margin: 20px;
    width: 220px;
    height: 200px;
    text-align: center;
    box-shadow: 4px 4px 7px;
}

.postit div p {
    align-self: center;
    margin-top: 50px;
}

h2 {
    font-size: xx-large;
}

p {
    font-size: large;
}

#giallo {
    background: linear-gradient(#e7ec9f 50%, #3f4048 100%);
    rotate: -8deg;
}

#verde {
    background: linear-gradient(#b0fecb 50%, #3f4048 100%);
    rotate: 10deg;
}

#viola {
    background: linear-gradient(#cc95ff 50%, #3f4048 100%);
    rotate: 10deg;
}

.postit div:hover {
    box-shadow: 10px 10px 20px;
    transform: scale(1.2);
    z-index: 10;
}

#giallo:hover {
    rotate: 0deg;
}

#viola:hover, #verde:hover {
    rotate: 0deg;
}